{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": true
}

